# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.toptal.com/developers/gitignore/api/delphi
# Edit at https://www.toptal.com/developers/gitignore?templates=delphi

### Delphi ###
# Uncomment these types if you want even more clean repository. But be careful.
# It can make harm to an existing project source. Read explanations below.
#
# Resource files are binaries containing manifest, project icon and version info.
# They can not be viewed as text or compared by diff-tools. Consider replacing them with .rc files.
#*.res
# Type library file (binary). In old Delphi versions it should be stored.
# Since Delphi 2009 it is produced from .ridl file and can safely be ignored.
#*.tlb
# Diagram Portfolio file. Used by the diagram editor up to Delphi 7.
# Uncomment this if you are not using diagrams or use newer Delphi version.
#*.ddp
# Visual LiveBindings file. Added in Delphi XE2.
# Uncomment this if you are not using LiveBindings Designer.
#*.vlb
# Deployment Manager configuration file for your project. Added in Delphi XE2.
# Uncomment this if it is not mobile development and you do not use remote debug feature.
#*.deployproj
# C++ object files produced when C/C++ Output file generation is configured.
# Uncomment this if you are not using external objects (zlib library for example).
#*.obj

# Delphi compiler-generated binaries (safe to delete)
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx

# Delphi autogenerated files (duplicated info)
*.cfg
*.hpp
*Resource.rc

# Delphi local files (user-specific info)
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk

# Delphi history and backups
__history/
__recovery/
*.~*

# Castalia statistics file (since XE7 Castalia is distributed with Delphi)
*.stat

# Boss dependency manager vendor folder https://github.com/HashLoad/boss
modules/

# End of https://www.toptal.com/developers/gitignore/api/delphi

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

*.mp4
Win32/Debug/acntTypes.dcu
Win32/Debug/acShellCtrls.dcu
Win32/Debug/APEv2Library.dcu
Win32/Debug/BufferedStream.dcu
Win32/Debug/config.json
Win32/Debug/Covers.exe
Win32/Debug/FlacTagLibrary.dcu
Win32/Debug/ID3v1Library.dcu
Win32/Debug/ID3v2Library.dcu
Win32/Debug/MP4TagLibrary.dcu
Win32/Debug/Musepack.dcu
Win32/Debug/OggVorbisAndOpusTagLibrary.dcu
Win32/Debug/ReadMemoryStream.dcu
Win32/Debug/result.json
Win32/Debug/sConst.dcu
Win32/Debug/sDefaults.dcu
Win32/Debug/sMessages.dcu
Win32/Debug/sSkinProps.dcu
Win32/Debug/sStrings.dcu
Win32/Debug/sThirdParty.dcu
Win32/Debug/TagsLibrary.dcu
Win32/Debug/uMain.dcu
Win32/Debug/uTypes.dcu
Win32/Debug/WAVPackfile.dcu
Win32/Debug/WAVTagLibrary.dcu
Win32/Debug/WMATagLibrary.dcu
icons/fd4e02f1434868f91c1ceefcfeb516d1.mp3
Music/mixkit-cbpd-400.mp3
Music/mixkit-deep-urban-623.mp3
Music/mixkit-dreaming-big-31.mp3
Music/mixkit-driving-ambition-32.mp3
Music/mixkit-hazy-after-hours-132.mp3
Music/mixkit-hip-hop-02-738.mp3
Music/mixkit-playground-fun-12.mp3
*.mkv
Win64/Debug/config.json
Win64/Debug/config.json
